@import "tailwindcss";

@theme {
  --color-primary: rgb(var(--primary) / <alpha-value>);
  --color-primary-foreground: rgb(var(--primary-foreground) / <alpha-value>);
  --color-background: rgb(var(--background) / <alpha-value>);
  --color-foreground: rgb(var(--foreground) / <alpha-value>);
  --color-secondary: rgb(var(--secondary) / <alpha-value>);
  --color-secondary-foreground: rgb(var(--secondary-foreground) / <alpha-value>);
  --color-accent: rgb(var(--accent) / <alpha-value>);
  --color-accent-foreground: rgb(var(--accent-foreground) / <alpha-value>);
  --color-border: rgb(var(--border) / <alpha-value>);
  --color-input: rgb(var(--input) / <alpha-value>);
  --color-input-background: rgb(var(--input-background) / <alpha-value>);
  --color-destructive: rgb(var(--destructive) / <alpha-value>);
  --color-muted: rgb(var(--muted) / <alpha-value>);
  --color-muted-foreground: rgb(var(--muted-foreground) / <alpha-value>);
  --color-popover: rgb(var(--popover) / <alpha-value>);
  --color-popover-foreground: rgb(var(--popover-foreground) / <alpha-value>);
  --color-card: rgb(var(--card) / <alpha-value>);
  --color-card-foreground: rgb(var(--card-foreground) / <alpha-value>);
  --color-ring: rgb(var(--ring) / <alpha-value>);
}

